@import "bourbon/bourbon", "neat/neat", "base/base";

/*****
James Rocks
*****/

/******************************************************************************
Styling
******************************************************************************/



$mobile: 768px;
$tablet: min-width $mobile max-width 950px;
$max-width: 960px;

/**************************************
Coloring
**************************************/



$black: #444; 
$white: #efefef;
$green: #89e894;

$red: rgb(225,56,52);

$navbg: $black;
$bodybg: $white;
$success: $red;




/**************************************
Defaults
**************************************/



body {
	width: 100%;
	margin: 0;
	position: relative;
	background: $bodybg;
}

.wrapper {
  margin: 0 1em;
  @include clearfix;
	@include media(min-width $max-width) {
		max-width: $max-width;
		margin: 0 auto;
	}
}

button {
  background: $success;
  font-weight: 200;
  &:hover {
    background: darken($success, 5%);
  }
}

.allign-left {
  float: left;
}

.allign-right {
  float: right;
}

.hide {
	display: none;
}



/**************************************
Fonts
**************************************/



.text-center {
	text-align: center;
}

h1 {
	padding-top: 1em;
	font-size: 1.75em;

}

h6 {
	font-size: 1em;
	font-style: italic;
	font-weight: 400;
}

.front-page-wrapper {
  h1 {
    text-shadow: 5px 2px 5px $black;
  }
  h2 {
    text-shadow: 5px 2px 5px $black;
  }
}



/**************************************
Grid
**************************************/



.span4 {
	@include span-columns(4);
}



/******************************************************************************
Header
******************************************************************************/



/**************************************
Nav
**************************************/



header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: $mobile !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  box-shadow: 0 9px 6px -6px black;  


  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;

  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    padding-left: $navigation-padding;
    text-align: center;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      font-weight: 400;
      text-decoration: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($horizontal-bar-mode) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      content: '\25BE';
      color: $navigation-color;
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($horizontal-bar-mode) {
        margin-right: $navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }
}



/**************************************
Background Image
**************************************/


/*
.bg-header-img {
	height: 600px;
	background: url('../img/words.jpg') no-repeat center center;
	background-size: cover;
	background-size: 100%;
}

*/

.header-img {
	position: relative;
	width: 100%;
	@include fill-parent;
}

/******************************************************************************
About
******************************************************************************/



.about-info {
	@include outer-container(100%);
	padding-bottom: 1.5em;
	.first-col {
		text-align: right;
	}

	img {
		max-height: 250px;
		border-radius: 50%;
	}

	//Media Query For Phones
	@include media(max-width $mobile) {
		h5, h6 {
			text-align: center; //center on page
		}
		div {
			@include span-columns(12);
		}
		

	}
}

.about-blurb {
	@include omega;

  button {
    font-weight: bold;
    &:hover {
      background: darken($red, 10%);
    }
  }
}



/******************************************************************************
Skills
******************************************************************************/


.progress-bar-indication {  
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $progress-border-color: $base-border-color;
  $progress-border: 1px solid $progress-border-color;
  $progress-meter-border-color: $action-color;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-background: darken($base-background-color, 5);
  $progress-animation-duration: 0.7s;
  $progress-color: white;

  background-color: $progress-background;
  border-radius: $base-border-radius;
  border: $progress-border;
  box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
  margin: 0 auto;
  width: 100%;

  > span.meter {
    @include box-sizing(border-box);
    background-color: $progress-meter-color;
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border-bottom-right-radius: 0;
    border-radius: $base-border-radius /1.5;
    border-top-right-radius: 0;
    border: $progress-meter-border;
    display: block;
    height: 100%;
    width: 60%;
  }

  p {
    color: $progress-color;    
    font-weight: 800;
    line-height: $base-line-height;
    margin: 0;
    padding: .1em .5em;
    text-shadow: 0 0 1px black;
  }
}

.skills-list {
	li {
		margin-bottom: 1em;
	}
}



/******************************************************************************
Work
******************************************************************************/



.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: 0 $card-margin $base-spacing $card-margin;
  
  position: relative;


  .card-image {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    background-color: $card-image-hover-color;

    img {
      @include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
      opacity: 1;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    
    > span {
      text-align: right;
      font-size: .75em;
      margin-right: 0;
    }
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}



/******************************************************************************
Education
******************************************************************************/



#education {
	.education-list {
		
		.school {
			margin-top: 20px;
			border-top: $black solid 2px;
			h3 {
				font-size: 1.25em;
				
		        text-align: left;

			}
			.graduation {
				
		        text-align: right;
				
			} //.graduation
			.credentials {
				
				margin-left: 20px;
				font-size: .85em;
			}
		} //.school
	} //.eduaction-list
} 



/******************************************************************************
Portfolio
******************************************************************************/



#portfolio {
	@include outer-container(100%);
	ul {
		@include clearfix;
		@include display(flex);
		@include justify-content(space-around);
		@include align-items(stretch);
		@include flex-wrap(wrap);
		li {
			@include align-self(stretch);
			margin-top: 10px;
      a {
        background: tomato;
        height: 200px;
        width: 200px;
      }
		}
		img {
			box-shadow: 3px 3px 3px black;
			height: 200px;
			max-width: 200px;
			max-height: 200px;
			&:hover {
				background: blue;	
			}
		}
	}
}

.lightbox {
	background: rgba($black, .7);

	z-index: 9999;
	display:  none;

	
	
	//Positions over top of current window
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	p {
		color: white;
		text-align: right;
		margin-right: 20px;
		margin-top: 20px;
	}

	.lightbox-content {
		text-align: center;
		

		img {
			@include outer-container(75%);
			margin-top: 30px;
		}

	}
}



/******************************************************************************
Contact
******************************************************************************/



#contact {
	@include outer-container(100%);
	button {
		@include fill-parent;
    
	}

  fieldset {
    background: $bodybg;
      border: none;
      label {
        font-size: 1.125em;
      }
  }

  .social {
    ul {
      text-align: center;
    }
    li {
      display: inline-block;
      padding: 0 1em;
      a {
        color: $black;
        &:hover {
          color: rgba($black, .5);
        }
      }
      span {
        display: none;
      }
    }
  } //social


  //Tablet and Bigger
  @include media(min-width $mobile) {
    fieldset {
      @include span-columns(8);   
    }

    .social {
      @include span-columns(4);
      @include omega;
      
      ul {
        text-align: left;
      }
      
      li {
        display: block;
        span {
          display: inline-block;
          float: right;
        } //span
      } //li
    } //.social 
  } //media tablet or bigger 

} //contact



/******************************************************************************
Blog
******************************************************************************/



@mixin sidebar-display($columns) {
	@include span-columns($columns);
	display: block;
	.social {
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			padding: 0 .25em;
			a {
				color: $black;
				&:hover {
					color: rgba($black, .5);
				}
			}
			span {
				display: none;
			}
		}
	}; //social

} //Sidebar-mixin

.main-blog {
	img {
		width: 100%;
		max-height: 470px;
	}

	button {
		@include fill-parent;
	}

	.blog-post {
		padding-bottom: 2em;
		button {
			background: $red;
			font-weight: bold;
			&:hover {
				background: darken($red, 15%);
			}
		}
	}

	.blog-title {
		h2 {
			font-weight: 100;
			font-style: italic;
		}
	}

	@include media($tablet) {
		@include span-columns(8);  
	}
	@include media($max-width) {
		@include span-columns(8);
	} 
}

.pagination {  
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: lighten($pagination-border-color, 10);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color;

  text-align: center;

  ul {
    display: inline;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
    
    li {
      display: inline;
      list-style: none;
    }

    ul li {
      display: none;
      
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: inline;
      }

      @include media($large-screen) {
        display: inline;
      }
    }

    li a {
      @include transition (all 0.2s ease-in-out);
      background: $pagination-background;
      border-radius: $base-border-radius;
      border: $pagination-border;
      color: $pagination-color;
      outline: none;
      padding: ($base-spacing / 4) ($gutter / 2);
      text-decoration: none;

      &:hover,
      &:focus {
        background: $pagination-hover-background;
        color: $action-color;
      }

      &:active {
        background: $pagination-background;
      }
    }
  } //ul
} //pagination

.sidebar {
	display: none;
	padding-top: 82px;
	
	@include fill-parent;

	h3 {
		font-size: 1.125em;
	}

	@include media($tablet) {
		@include sidebar-display(4);
	} //$tablet 

	@include media($max-width) {
		@include sidebar-display(4);
	}

  form.search-bar {  
	  ///////////////////////////////////////////////////////////////////////////////////
	  $base-border-color: gainsboro !default;
	  $base-border-radius: 3px !default;
	  $base-line-height: 1.5em !default;
	  $action-color: #477DCA !default;
	  $dark-gray: #333 !default;
	  //////////////////////////////////////////////////////////////////////////////////

	  $search-bar-border-color: $base-border-color;
	  $search-bar-border: 1px solid $search-bar-border-color;
	  $search-bar-background: lighten($search-bar-border-color, 10%);

	  position: relative;

	  input[type=search] {
	    @include appearance(none);
	    @include box-sizing(border-box);
	    @include transition(border-color);
	    background-color: white;
	    border-radius: $base-border-radius;
	    border-radius: $base-border-radius;
	    border: 1px solid $base-border-color;
	    display: block;
	    font-size: 1em;
	    font-style: italic;
	    margin: 0;
	    padding: ($base-spacing / 3) ($base-spacing / 3);
	    position: relative;
	    width: 100%;
	  }

	  button[type=submit] {
	    @include button(flat, $action-color);
	    @include position(absolute, 0em 0em 0em null);
	    border-bottom-left-radius: 0;
	    border-top-left-radius: 0;
	    outline: none;
	    padding: 5px 10px;
	  }
	} //form.search-bar

	.widget {
		padding-bottom: 25px;
	}

	.popular-post {
	h3 {
	background: grey;
	color: white;
	font-weight: 300;
	padding: .5em 1em;
	margin-bottom: 0;
	}
	ul {
	background: white;
	li {
	background: darken($white, 5);
	padding: .25em 1em;
	&:hover {
	background: darken($white, 10);
	}
	a {
	color: lighten($black, 15);
	}
	} //li
	} //ul
	} //.popular-post

} //sidebar




/******************************************************************************
Footer
******************************************************************************/



.footer {
  @include clearfix;
  @include omega;
  padding-top: 5em;
  padding-bottom: 1em;
	p {
		font-weight: 300;
		color: rgba($black, .7);
	}
}